<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>
          I love building things with smart people.
        </p>
        <p>
          I am the currently Founder/CTO at <a href="https://crowdai.com/">CrowdAI</a>. I have built platform prototypes from the ground-up in the "garage phase," recruited and led an engineering org to 20+ members. What I learned along the way is the value of great coaching, building a stellar team, and how to be intentional about your professional development.
        </p>
        <p>
          I love helping a technology company grow, whether it's just a scrappy founding team building their first prototype or a 500-person organization planning to double the business yet again. Growth takes great leadership.
        </p>
        <p>
          You have a vision for your company, your product, your path to revenue. But have you invested in your team? Have you built an organization with ownership, accountability and alignment with the company's goals? Have you invested in your own growth, learned to teach those on your team, and taught them to make teachers out of their colleagues? I believe these things are critical to a high-functioning organization, and I love to make plans and help bring them to fruition.
        </p>
      </div>
    </div>
  </div>
</section>
