<section class="tout" id="consulting">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Consulting</h2>
      <hr />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>
          I can offer one or many of the following:
        </p>
        <ul>
          <li>
            <div class="consulting-topic">Technology Consulting</div>  Making architectural decisions is critical. You're going to get a scalable architecture either way, but you'll save enormous time and effort if you get the system design right the first time. Scalability in the cloud is achievable, but only if we plan ahead.
          </li>
          <li>
            <div class="consulting-topic">Building an Engineering Team</div>  Review your hiring process, from job posting to technical interviews to offers, to ensure you're building the best team on the planet. There's a certain magic that happens when every single member of a team is a superstar-- so every hire is crucial.
          </li>
          <li>
            <div class="consulting-topic">Leadership Coaching</div>  Your organization's top-level leadership is responsible for creating a culture of growth. You don't just want your engineers learning technical skills, they need to be learning to teach technical topics to their peers. You want managers coaching their team on how to teach, not just what to learn.
          </li>
          <li>
            <div class="consulting-topic">Navigating Changes</div>  It happens. Maybe a key leader left the organization. Maybe your backend is cracking under the load of a growing business. This is when you want an experienced pair of hands to help steer the ship, because the way forward might not match the way you got so far, so you might need a peek at someone else's playbook.
          </li>
          <li>
            <div class="consulting-topic">Flexibility</div>  You know your needs better than I do. Let's talk. I wouldn't take a client if I didn't think I was in a position to help.
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
